.start-button {
    width: 200px;
    background-color: #3498db; /* Blue color */
    border: none;
    color: white;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .start-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
  }
  

  .styled-input {
    width: 300px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #3498db; /* Adjust border properties as needed */
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s; /* Add transition for a smooth effect */
  
    /* Optional: Add styles for input focus state */
    &:focus {
      outline: none; /* Remove default focus outline */
      border-color: #2980b9; /* Adjust border color on focus */
    }
  }